streamlit
plotly
numpy
sympy
scipy
pandas

statsmodels
matplotlib


scikit-learn
xgboost

scipy==1.10.1
seaborn
sympy
Pillow
openai
tabulate
tqdm
requests
python-dotenv
pytesseract

langchain-experimental
tensorflow>=2.0.0

plotly==5.19.0
mlxtend
